.main aside .sidebar-basic-info .avatar-box{background-color:#363535;border-radius:30px}
.main aside .sidebar-basic-info .sidebar-basic-info-details h3{font-size:25px;margin-bottom:16px;font-weight:500}
.main aside .sidebar-basic-info .sidebar-basic-info-details .badge{background-color:#2a2a2b;padding:8px 17px;font-weight:300;letter-spacing:.5px}
.main aside .sidebar-details{width:100%}
.main aside .sidebar-details .divider{width:100%;border-top:1px solid #4444449c;margin:32px 0}
.main aside .sidebar-details .sidebar-details-info ul{padding:0;margin-bottom:32px}
.main aside .sidebar-details .sidebar-details-info .details-info-item{margin-bottom:30px}
.main aside .sidebar-details .sidebar-details-info .details-info-item .info-icon{box-shadow:-.7px -.7px 2px rgba(2,2,2,.493),-.5px -.5px 2px rgba(255,255,255,.288),.7px .7px 2px rgba(0,0,0,.75);border-radius:12px;width:47px;height:47px;margin-right:20px}
.main aside .sidebar-details .sidebar-details-info .details-info-item .info-icon i{height:100%;width:100%;display:flex;justify-content:center;align-items:center;font-weight:400;color:#ffdb6e}
.main aside .sidebar-details .sidebar-details-info .details-info-item .item-details{height:47px}
.main aside .sidebar-details .sidebar-details-info .details-info-item .item-details span{color:#d6d6d6;font-size:13px;font-weight:400;opacity:.7;letter-spacing:1px}
.main aside .sidebar-details .sidebar-details-info .details-info-item .item-details h3{color:#fcfcfc;font-size:14px;font-weight:300;line-height:15px;margin:0}
.main aside .social ul{padding:0}
.main aside .social ul a{color:#d6d6d6;margin:0 8px;font-size:20px;opacity:.7}