*{margin:0;padding:0;box-sizing:border-box}
.py-8{margin-top:60px;margin-bottom:60px}
ul{list-style:none}
a{text-decoration:none;display:inline-block}
::selection{color:#ffdb6e}
::placeholder{color:#ffdb6e !important}
.active{display:inline-block!important}
.yellowtext{color:#ffbc5e!important}
:root{--bg-clr:#121212;--bg-clr-surface-1:#1e1e1f;--bg-clr-surface-2:#2a2a2b;--bg-clr-surface-3:linear-gradient(135deg, rgba(64, 64, 64, 0.13) 20%, rgba(64, 64, 64, 0.1) 48.44%);--text-clr2:#d6d6d6;--heading-clr:#fcfcfc;--accent-clr:#FFDB6E;--gradient-clr:linear-gradient(137.84deg, #FFDB6E 26.31%, #FFBC5E 93.75%)}
body{background:linear-gradient(117deg,rgba(252,166,45,1) 0,rgba(214,105,132,1) 14%,rgba(162,95,163,1) 25%,rgba(79,89,220,1) 63%,rgba(214,105,132,1) 80%,rgba(252,166,45,1) 100%);color:#fff!important;font-family:Poppins,sans-serif!important}

.main .box-outer .page-heading{padding-bottom:5px}
.main .box-outer .page-heading .title{font-weight:600;font-size:32px;margin-bottom:35px;letter-spacing:1px;position:relative}
.main .box-outer .page-heading .title::before{content:'';width:40px;height:5px;border-radius:20px;background:linear-gradient(137.84deg,#ffdb6e 26.31%,#ffbc5e 93.75%);position:absolute;top:52px}
.main .box-outer .page-heading p{font-size:15px;font-weight:300;line-height:25px;color:#d6d6d6}

@media (min-width:576px){
.main .box-outer .page-heading{padding-bottom:20PX}
.main .box-outer{padding:30px}
}

@media (max-width:575px){
.main .box-outer .page-heading{padding-bottom:0}
.main .box-outer .page-heading .title{margin-bottom:24px;font-size:24px}
.main .box-outer .page-heading .title::before{width:30px;height:3px;top:43px}
.main .box-outer .page-heading .title::before{top:33px}
}